@font-face {
  font-family: "Lord of the Rings";
  src: url("../assets/fonts/HobbitonBrushhandhobbitonBrush-WygA.ttf")
    format("truetype");
}

:root {
  --font-title: "Lord of the Rings", cursive;
  --font-body: "Open Sans", sans-serif;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 22px;
  --spacing-l: 42px;
  --spacing-xl: 64px;
  --spacing-xxl: 128px;
  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 28px;
  --font-size-xl: 64px;
  --font-size-xxl: 72px;
  --clr-dark: #222;
  --clr-gray: #8b8b8b;
  --clr-gray-light: #dedede;
  --clr-modal-border: #757575;
  --clr-primary: hsl(166, 69%, 44%);
  --clr-primary-hover: hsl(166, 79%, 34%);
  --clr-btn-secondary: #bbb;
  --clr-warning: rgb(234, 14, 14);
  --radius-soft: 3px;
  --transition-quick: all 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-m);
  color: var(--clr-dark);
}

section {
  margin-bottom: var(--spacing-xl);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: var(--transition-quick);
}

/* Typography  */
h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-xxl);
  line-height: 1;
}

h2 {
  font-size: var(--font-size-m);
  color: var(--clr-gray);
}

h3 {
  font-size: var(--font-size-m);
  line-height: 1;
}

/* Utility  */
.flex {
  display: flex;
}

.flex-fully-centered {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Layout  */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Header  */
.header-container {
  padding: var(--spacing-l) 0;
}

.tagline {
  text-transform: uppercase;
  font-size: var(--font-size-s);
}

/* Menu Items Section */
.menu-item-container {
  padding: var(--spacing-l) 0;
  border-bottom: 1px solid var(--clr-gray-light);
  justify-content: space-between;
  gap: var(--spacing-s);
}

.menu-item-left {
  gap: var(--spacing-m);
}

.menu-item-img {
  min-width: 70px;
  height: 89px;
  object-fit: cover;
  border-radius: var(--radius-soft);
}

.menu-item-details {
  flex-flow: column;
  line-height: 1;
}

.menu-item-toppings {
  color: var(--clr-gray);
  font-size: var(--font-size-s);
  line-height: 1.5;
}

.menu-item-price {
  margin-top: var(--spacing-m);
  font-size: var(--font-size-m);
  line-height: 1.2;
}

.btn-plus {
  display: block;
  width: 50px;
  height: 50px;
  border: 1.5px solid var(--clr-gray-light);
  border-radius: 50%;
  flex-shrink: 0;
}

.btn-plus:hover {
  background: var(--clr-primary);
}

i {
  pointer-events: none;
}

.fa-xmark {
  padding: var(--spacing-xs);
}

/* Checkout section  */
.checkout-item {
  justify-content: space-between;
  margin: var(--spacing-m) 0;
}

.checkout-item-details {
  align-items: center;
  gap: var(--spacing-s);
}

.btn-primary {
  margin-top: var(--spacing-m);
  border-radius: var(--radius-soft);
  padding: var(--spacing-s) var(--spacing-m);
  background: var(--clr-primary);
  color: #fff;
  font-weight: bold;
}

.btn-primary:hover {
  background: var(--clr-primary-hover);
}

.btn-secondary {
  font-size: var(--font-size-xs);
  color: var(--clr-btn-secondary);
  transition: var(--transition-quick);
}

.btn-secondary:hover {
  color: var(--clr-warning);
}

.checkout-total {
  justify-content: space-between;
  border-top: 1px solid var(--clr-gray);
  padding: var(--spacing-m) 0;
}

/* Payment modal  */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-dark);
  opacity: 0.7;
  z-index: 999;
}

.modal {
  border-radius: var(--radius-soft);
  padding: 0 var(--spacing-m) 30px;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 700px;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.modal-close-btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: var(--spacing-s);
}

.modal-open {
  overflow: hidden;
}

.modal-close-btn {
  font-size: var(--font-size-m);
}

.modal-header {
  font-weight: bold;
  padding: var(--spacing-l) 0;
}

.modal-form {
  flex-flow: column;
  gap: var(--spacing-m);
  align-items: stretch;
}

.modal-form input {
  border: 1.297px solid var(--clr-modal-border);
  border-radius: var(--radius-soft);
  color: var(--clr-modal-border);
  width: 100%;
}

.modal-form input,
.modal-form button {
  padding: 16px 27px;
}

/* Success Message  */
.success-message {
  border-radius: var(--radius-soft);
  background: #ecfdf5;
  margin-top: var(--spacing-l);
  padding: var(--spacing-l);
  text-align: center;
}

@media only screen and (max-width: 650px) {
  body {
    padding: 0 var(--spacing-m);
  }
  .btn-primary {
    display: block;
    width: 100%;
  }
  .modal {
    height: 80vh;
  }
}
